@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/animations' as *;

.aboutPage {
    height: 100vh;
    width: 100vw;
    background-color: $Charcoal;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__header {
        color: $Gemini-orange;
        margin: 0;
        padding-top: 2rem;
        letter-spacing: 1px;
        font-size: 4rem;
        animation: neon 2s ease infinite;
        -moz-animation: neon 2s ease infinite;
        -webkit-animation: neon 2s ease infinite;
    }
    &__hero {
        width: 70%;
        padding-top: 3rem;
        padding-bottom: 1rem;
        
    }
    &__statement {
        color: White;
        font-size: 1.5rem;
        padding: 1.5rem 1rem;
        margin: 0;
        text-align: center;
    }
    &__return {
        height: 1.75rem;
        width: 10rem;
        text-decoration: none;
        color: white;
        background-color: #CC0776;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.2rem;
    }
}

