@use '../../partials/variables' as *;

.templateForm {
    background-color: $Charcoal;
    color: $Alabaster;
    height: 100vh;
    &__headerContainer {
        display: flex;
        justify-content: center;
        padding: 1rem 1rem 0 1rem;
    }
    &__header {
        margin: 0;
    }
    &__back {
        width: 1.5rem;
    }
    &__form {
        padding: 1rem;
        margin: 1rem;
        width: 100;
        background-color: $Gray;
        border: 1px solid $Silver;
        border-radius: 5px;
    }
    &__formHeader{
        margin: 0 0 0 1rem;
    }
    &__inputContainer {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }
    &__templateName {
        margin: 1rem;
        width: 10rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
        background-color: $Alabaster;
    }
    &__input {
        width: 10rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
        margin-top: .5rem;
        
        background-color: $Alabaster;
    }
    &__setInput {
        width: 5rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
        margin-top: .5rem;
        background-color: $Alabaster;
    }
    &__label {
        color: $Mercury;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }
    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
    &__button {
        height: 1.75rem;
        width: 10rem;
        text-decoration: none;
        color: white;
        background-color: #CC0776;
        border-radius: 50px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        letter-spacing: 1px;
    }
}