@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/animations' as *;

.templateForm {
    background-color: $Charcoal;
    color: $Alabaster;
    height: 100vh;
    &__headerContainer {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        border-bottom: 1px solid $Alabaster;
    }
    &__header {
        margin: 0 0 0 2rem;
        font-size: 2rem;
    }
    &__logo {
        width: 4rem;
    }
    &__form {
        padding: 1rem;
        margin: 1rem;
        width: 100;
        border: 1px solid gray;
        border-radius: 5px;
    }
    &__formHeader{
        margin: 0 0 0 1rem;
    }
    &__inputContainer {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }
    &__templateName {
        margin: 1rem;
        width: 10rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
    }
    &__input {
        width: 7rem;
        margin-left: 1rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
    }
    &__setInput {
        width: 4rem;
        margin-left: 1rem;
        border-radius: 5px;
        border: none;
        padding: .25rem;
    }
    &__label {
        margin-left: 1rem;
    }
    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
    &__button {
        height: 1.75rem;
        width: 10rem;
        text-decoration: none;
        color: $Alabaster;
        background-color: $Gray;
        border: 1px solid $Silver;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .5rem;
        animation: neon 2s ease infinite;
        -moz-animation: neon 2s ease infinite;
        -webkit-animation: neon 2s ease infinite;
    }
}