@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/animations' as *;

.workoutForm {
    background-color: $Charcoal;
    color: $Alabaster;
    &__headerContainer {
        display: flex;
        justify-content: flex-start;
        padding: 1rem;
        border-bottom: 1px solid $Alabaster;
    }
    &__header {
        margin: 0 0 0 2rem;
        font-size: 3rem;
    }
    &__logo {
        width: 4rem;
    }
    &__exerciseContainer {
        padding: 1rem;
        margin: 1rem;
        border: 1px solid gray;
        border-radius: 5px;
    }
    &__exerciseHeader {
        margin: 0 0 1rem 0;
        border-bottom: 1px solid $Alabaster;
        width: 100%;
    }
    &__setContainer {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 0.5rem;
    }
    &__input {
        width: 5rem;
        margin-left: 1rem;
    }
    &__label {
        margin-left: 1rem;
    }
    &__buttonContainer {
        display: flex;
        justify-content: center;
    }
    &__button {
        height: 1.75rem;
        width: 10rem;
        text-decoration: none;
        color: $Alabaster;
        background-color: $Gray;
        border: 1px solid $Silver;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: 1rem;
        animation: neon 2s ease infinite;
        -moz-animation: neon 2s ease infinite;
        -webkit-animation: neon 2s ease infinite;
    }
}