@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;
@use '../../partials/animations' as *;

.profile {
    background-repeat: no-repeat;
    background-color: $Charcoal;
    background-size: cover;
    background-position: center;
    color: $Alabaster;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__avatarContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__avatar {
        height: 10rem;
        width: 10rem;
        border-radius: 100px;
        object-fit: cover;
        border: 2px solid $Charcoal;
    }
    &__name {
        padding: 2rem;
        margin: 0;
        font-size: 2rem;
    }
    &__allContainer {
        display: flex;
        background-color: $Gray;
        border: 1px solid $Silver;
        border-radius: 5px;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 0 1rem;
    }
    &__dropdownContainer {
        display: flex;
        flex-wrap: wrap;
        width: 15rem;
        height: 6rem;
        padding-bottom: 0.5rem;
        background-color: $Gemini-light-pink;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        overflow: scroll;
    }
    &__expand {
        margin-left: 7rem;
    }
    &__dropdownLink {
        text-decoration: none;
        background-color: $Gemini-pink;
        color: white;
        margin: 0.5rem 0.5rem 0 0.5rem;
        border-radius: 5px;
        height: 2rem;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
    }
    &__linkContainer {
        display: flex;
        align-items: center;
        background-color: $Charcoal;
        border-radius: 5px;
        height: 3rem;
        width: 100%;
        display: flex;
        &--margin {
            margin-top: 1rem;
        }
    }
    &__linkIcon {
        margin: 0 1rem;
    }
    &__link {
        text-decoration: none;
        color: $Alabaster;
        font-size: 1.5rem;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        height: 2rem;
        background-color: $Gray;
        align-items: center;
        padding: 0 1rem;
        border-top: 1px solid $Silver;
    }
    &__footerLink {
        text-decoration: none;
        color: $Alabaster;
    }
}