// Primary
$Gemini-pink: #CC0776;
$Gemini-orange: #ffa92c;

// Grayscale
$Charcoal: #1f1e1e;
$Gray: #2c2c2c;
$Silver: #AFAFAF;
$Mercury: #E1E1E1;
$Alabaster: #FAFAFA;


/* Media Query Widths */
$desktopWidth: 1280px;
$tabletWidth: 768px;

